/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/
/* custom stylıng */
body {
  overflow-x: hidden;
}
.col-11.col-md-4.alert.alert-danger {
  display: none !important;
}
#mc-embedded-subscribe {
  padding: 13px;
  border-radius: 3px;
  background: #009aee;
}
#mc_embed_signup input#mce-EMAIL {
  width: 295px !important;
}
#slider.div {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
#trois {
  display: none;
  width: 400px;
  height: 2.5rem;
  margin-top: 3px;
}
.dropdown-menu {
  /* position: absolute; */
  /* top: 100%; */
  /* left: 0; */
  z-index: 1000;
  /* display: none; */
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
#mainMenu nav {
  position: absolute;
  right: 0;
  top: 0 !important;
}

#slide-133-layer-62,#slide-135-layer-62,#slide-137-layer-62{
  border: 3px solid rgb(225, 0, 0) !important;
    padding: 10px !important;
    border-radius: 28px;
}
#slide-133-layer-62{
  background: linear-gradient(to left, rgb(161, 242, 199) 50%, #7bd9f6 50%) right;
  background-size: 200%;
  transition: .5s ease-out !important;
}
#slide-133-layer-62:hover{
  background-position: left !important;
}
#slide-135-layer-62{
  background: linear-gradient(to left, rgb(243, 237, 228) 50%, #7bd9f6 50%) right;
  background-size: 200%;
  transition: .5s ease-out !important;
}
#slide-135-layer-62:hover{
  background-position: left !important;
}
#slide-137-layer-62{
  background: linear-gradient(to left, rgb(235, 217, 225) 50%, #7bd9f6 50%) right;
  background-size: 200%;
  transition: .5s ease-out !important;
}
#slide-137-layer-62:hover{
  background-position: left !important;
}

#a_cats {
  background-color: #e1e0e0 !important;
  color: #2e3840 !important;
  text-transform: uppercase;
  border: 1px solid #009aee !important;
}
#a_cats:hover{
  color: #fff !important;
  background-color: #009aee !important;
}
#a_cat {
  color: #2e3840 !important;
  background-color: #fff !important;
  text-transform: uppercase;
  border: none !important;
}
#a_cat:hover{
  background-color: #fff !important;
  color: #2e3840 !important;
  
  border: 2px solid #009aee !important;
}

.cat_cart h1{
  padding: 1.5rem;
}
@media (max-width: 1420px) {
  #slide-133-layer-17{
    display: none !important;
  }
  #slide-135-layer-17{
    display: none !important;
  }
  #slide-137-layer-17{
    display: none !important;
  }
}
.dropdown-item {
  height: 4rem !important;
}
@media (min-width: 992px) {
  .dropdown-menu {
    margin-top: 2.7rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #join_btn {
    margin-left: 1.5rem !important;
  }
}
@media (min-width: 768px) {
  #slide-131-layer-33,
  #slide-131-layer-51 {
    margin-top: 25rem !important;
  }
  #slide-131-layer-53 {
    top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media (max-width: 768px) {
  #slide-131-layer-33,
  #slide-131-layer-51 {
    margin-top: 6rem !important;
  }
  #rev_slider_86_1_forcefullwidth,
  #rev_slider_86_1_wrapper,
  #rev_slider_86_1 {
    height: 350px !important;
  }

  /*   .tp-caption#slide-131-layer-42,
  .tp-caption#slide-131-layer-37,
  .tp-caption#slide-131-layer-38,
  .tp-caption#slide-131-layer-35,
  .tp-caption#slide-131-layer-36,
  .tp-caption#slide-131-layer-39,
  .tp-caption#slide-131-layer-40,
  .tp-caption#slide-131-layer-41,
  .tp-caption#slide-131-layer-43 {
    height: 210px !important;
    min-height: 0px !important;
  } */
}
@media (max-width: 479px) {
  .Creative-Title {
    left: -25px !important;
  }
  .text-box {
    padding: 30px !important;
  }
  .text-box a img {
    width: 100px !important;
    height: 85px !important;
  }
  .text-box a h3 {
    display: none;
  }
  .resized-cols-5 {
    height: 10rem;
    padding-left: 0.25rem;
    padding-right: 0.5rem;
  }
}
@media (max-width: 768px) {
  .text-box a h3 {
    display: none;
  }
  #slide-131-layer-34,
  #slide-131-layer-52 {
    display: none !important;
  }
}
@media (min-width: 721px) and (max-width: 770px) {
  #slide-131-layer-53 {
    top: 0 !important;
    margin-bottom: 42rem !important;
  }
}
@media (min-width: 651px) and (max-width: 720px) {
  #slide-131-layer-53 {
    top: 0 !important;
    margin-bottom: 36rem !important;
  }
}
@media (min-width: 571px) and (max-width: 650px) {
  #slide-131-layer-53 {
    top: 0 !important;
    margin-bottom: 30rem !important;
  }
}
@media (min-width: 490px) and (max-width: 570px) {
  #slide-131-layer-53 {
    top: 0 !important;
    margin-bottom: 23rem !important;
  }
}
@media (min-width: 400px) and (max-width: 490px) {
  #slide-131-layer-53 {
    top: 0 !important;
    margin-bottom: 15rem !important;
  }
}
@media (max-width: 650px) {
  #slide-131-layer-34,
  #slide-131-layer-52,
  #slide-133-layer-52,
  #slide-13-layer-52,
  #slide-135-layer-52,
  #slide-137-layer-52 {
    display: none !important;
  }

  #slide-133-layer-51,
  #slide-139-layer-51,
  #slide-135-layer-51,
  #slide-137-layer-51 {
    margin-top: 3rem !important;
  }
  #slide-131-layer-33,
  #slide-131-layer-51 {
    font-size: 16px !important;
    font-weight: 600 !important;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  #slide-131-layer-53 {
    top: 0 !important;
    margin-bottom: 10rem !important;
  }
}

@media (min-width: 480px) {
  .Creative-Title {
    left: 0 !important;
  }
}
.count_section {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.layer-29-custom {
  margin-left: 2rem !important;
}

@media (max-width: 420px) {
  .count_section {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .counter span {
    font-size: 25px;
    line-height: 40px;
  }
  .tp-caption {
    display: none;
  }
  a.immersion-link2 {
    font-size: 18px !important;
    font-weight: 500 !important;
  }
}

#slide-129-layer-33 {
  display: none !important;
}
#slide-131-layer-27,
#slide-131-layer-17 {
  display: none !important;
}
